{% extends 'base.html' %}

{% block title %} Post: {{post.title}}{% endblock %}

{% block content %} 

    <div class="container">
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>

        <p>
            <span>Tags:</span>
            {% for tag in tags %}
            <a href="/tags/{{ tag.id }}"><span class="badge bg-outline-primary">{{tag.name}}</span></a>
            {% endfor %}
        </p>
      
        <div class="container">
            <div class="row">
                <form>
                    <button formaction="/users/{{post.user_id}}" class="btn btn-outline-info m-1" >Cancel</button>
                    <button formaction="/posts/{{post.id}}/edit" formmethod="GET" class="btn btn-success m-1" type="submit">Edit</button>
                    <button formaction="/posts/{{post.id}}/delete" formmethod="POST" class="btn btn-danger m-1" type="submit">Delete</button>
                </form>
            </div>
        </div>

        <!-- Don't need to wrap each button by "form" instead use "formmethod, formaction" -->
        <!-- <form>
            <button class="btn btn-outline-primary"
                    formmethod="GET"
                    formaction="/users/{{ post.user_id }}">Cancel</button>
            <button class="btn btn-primary"
                    formmethod="GET"
                    formaction="/posts/{{ post.id }}/edit">Edit</button>
            <button class="btn btn-danger"
                    formmethod="POST"
                    formaction="/posts/{{ post.id }}/delete">Delete</button>
        </form> -->






    </div>    
{% endblock %}