{% extends 'base.html' %}

{% block title %} Edit Post{% endblock %}

{% block content %} 
    <h1>Edit Post</h1>

    <form action="/posts/{{post.id}}/edit" method="POST">
        <div class="container">
            <label for="title">Title
                <input type="text" name="title" id="title" maxlength="50" value="{{post.title}}">
            </label>
            
            <label for="content">Content
                <input class='content'type="text" name="content" id="content" maxlength="1000" value="{{post.content}}">
            </label>
            
            {% for tag in tags %}
            <div class="form-check">
                {% if tag in checked_tag %}
                <input class="form-check-input" name="tags" type="checkbox" value="{{tag.id}}" id="tags" checked>
                {% else %}
                <input class="form-check-input" name="tags" type="checkbox" value="{{tag.id}}" id="tags">
                {% endif %}
                <label class="form-check-label" for="tags">{{tag.name}}</label>
            </div>
            {% endfor %}


            <!-- springboard solution -->
            <!-- <div class="form-check">
                {% for tag in tags %}
                <div>
                  <input class="form-check-input"
                         type="checkbox"
                         value="{{ tag.id }}"
                         id="tag_{{ tag.id }}"
                         {% if tag in post.tags %}checked{% endif %}
                         name="tags">
                  <label class="form-check-label" for="tag_{{ tag.id }}">
                    {{ tag.name }}
                  </label>
                </div>
                {% endfor %}
              </div> -->

            <div>
                <a href="users/{{post.user_id}}"><button class="btn btn-outline-info">Cancel</button></a>
                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </div>
    </form>

{% endblock %}